<h3><a href="/mrl/projects/nose/nose-{{ version }}.tar.gz">Download</a></h3>
<ul>
  <li><a href="/mrl/projects/nose/nose-{{ version }}.tar.gz">
      Current version: {{ version }}</a>
    <br />({{ last_updated }})
  </li>
</ul>

<h3>Install</h3>
<ul>
  <li>Current version:<br />
    <tt>easy_install nose=={{ version }}</tt></li>
  <li>Unstable (trunk):<br />
    <tt>easy_install nose==dev</tt>
  </li>
</ul>

<h3><a href="http://groups.google.com/group/nose-announce">
    Announcement list</a></h3>
<ul><li>Sign up to receive email announcements
  of new releases</li></ul>

<h3><a href="http://code.google.com/p/python-nose/">Tracker</a></h3>
<ul><li>Report bugs, request features, wik the wiki, browse source.</li></ul>

<h3>Other links</h3>
<ul>
  <li>
    <a href="http://codespeak.net/py/current/doc/test.html">py.test</a>
  </li>
  <li>
    <a href="http://peak.telecommunity.com/DevCenter/setuptools">
      setuptools</a>
  </li>
</ul>
